.post-field{
    width: 60%;
    margin: 5vh auto;
}

.post-input{
    width: 80%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-button{
    margin-left: 5px;
}

mat-card{
    margin-bottom: 5px;
}

.post-edit{
    width: 80%;
}